modules/fixtures/state_machines/lease.json
{
    "Comment": "Manages a lease and is run per lease.",
    "StartAt": "Get Lease",
    "States": {
        "Get Lease": {
            "Comment": "Get the lease again to validate it hasn't ended.",
            "Type": "Task",
            "Resource": "${GET_LEASE_LAMBDA_ARN}",
            "Next": "Manage Lease"
        },
        "Manage Lease": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "StartAt": "Check Usage?",
                    "States": {
                        "Wait ${WAIT_SECONDS} Seconds": {
                            "Comment": "Wait 6 hours before next check.",
                            "Type": "Wait",
                            "Seconds": ${WAIT_SECONDS},
                            "Next": "Check Lease"
                        },
                        "Check Lease": {
                            "Comment": "Get the lease again to validate it hasn't ended.",
                            "Type": "Task",
                            "Resource": "${GET_LEASE_LAMBDA_ARN}",
                            "Next": "Check Usage?"
                        },
                        "Check Usage?": {
                            "Comment": "Should we continue checking the usage?",
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.UsageTTL",
                                    "NumericGreaterThanEquals": 0,
                                    "Next": "Get Usage"
                                }
                            ],
                            "Default": "End"
                        },
                        "Get Usage": {
                            "Comment": "Get the lease usage information.",
                            "Type": "Task",
                            "Resource": "${GET_USAGE_LAMBDA_ARN}",
                            "Next": "Wait ${WAIT_SECONDS} Seconds"
                        },
                        "End": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Wait Till End Of Lease",
                    "States": {
                        "Wait Till End Of Lease": {
                            "Comment": "Wait 6 hours before next check.",
                            "Type": "Wait",
                            "SecondsPath": "$.LeaseTTL",
                            "Next": "End Lease"
                        },
                        "End Lease": {
                            "Comment": "Get the lease usage information.",
                            "Type": "Task",
                            "Resource": "${END_LEASE_LAMBDA_ARN}",
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}
